<h1>All artists and songs:</h1>

<% @artists.each do |artist| %>
  <h3><%= link_to "#{artist.name}", artist_path(artist) %> has <%= artist.song_count %> songs</h3>
    <% artist.songs.each do |song| %>
    <ul>
      <li> <%= link_to song.title , song_path(song) %> </li>
    </ul>
    <% end %>
<% end  %>
